<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <connectionStrings>
    <add name="EntitiesConnectionString1" connectionString="metadata=res://*/DataModel1.csdl|res://*/DataModel1.ssdl|res://*/DataModel1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=E:\Projects\CSharp\EntityFramework\Deveknife\Deveknife.Data\Database1.sdf&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataContextConnectionString" connectionString=""/>
    <add name="EntitiesConnectionString" connectionString="metadata=res://*/DataModel3.csdl|res://*/DataModel3.ssdl|res://*/DataModel3.msl;provider=;provider connection string=&quot;&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesConnectionString2" connectionString="metadata=res://*/DataModel2.csdl|res://*/DataModel2.ssdl|res://*/DataModel2.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">FailIfMissing=True;Data Source=E:\depp.sqlite</property>
      <mapping assembly="TestUni"/>
    </session-factory>
  </hibernate-configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
