<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Deveknife.log" />
    <target name="logfile2" xsi:type="File" fileName="Deveknife.log.Overview.log" />
    <target name="control" xsi:type="FormControl" append="true"
        layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
    controlName="tbLog" formName="MainForm"/>
    <target name="control2" xsi:type="FormControl" append="true"
        layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
    controlName="tbOverviewLog" formName="MainForm"/>
    <target name="control3" xsi:type="FormControl" append="true"
        layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
    controlName="tbFileManagerLog" formName="MainForm"/>
    <target name="control4" xsi:type="FormControl" append="true"
        layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
    controlName="tbArchivePlannerLog" formName="MainForm"/>
    <target name="control5" xsi:type="FormControl" append="true"
        layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
    controlName="tbFileMoveToolLog" formName="MainForm"/>
    <target name="control6" xsi:type="FormControl" append="true"
            layout="${date:format=MM-dd-yyyy HH\:mm\:ss} [${uppercase:${level}}] ${message}${newline}"
            controlName="tbGitRegisterLog" formName="MainForm"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="Deveknife.Blades.Overview.*" minlevel="Info" writeTo="logfile2" />
    <!--<logger name="Deveknife.Blades.Overview.VideoOverviewUI.VideoOverviewLogger" minlevel="Info" writeTo="logfile2" />-->
    <logger name="*" minlevel="Info" writeTo="control" />
    <logger name="Deveknife.Blades.Overview.*" minlevel="Info" writeTo="control2" />
    <logger name="Deveknife.Blades.FileManager.*" minlevel="Info" writeTo="control3" />
    <logger name="Deveknife.Blades.ArchivePlanner.*" minlevel="Info" writeTo="control4" />
    <logger name="Deveknife.Blades.FileMoveTool.*" minlevel="Info" writeTo="control5" />
    <logger name="Deveknife.Blades.GitRegister.*" minlevel="Info" writeTo="control6" />
  </rules>
</nlog>